*.iml
.gradle
/local.properties
.idea
.DS_Store
.kotlin
build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
captures
xcuserdata/
*.jks
*.gpg
/iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/iosApp 2025-03-27 12-51-49/
