<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pixelix.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>66DAA4A8B7C2787F5E413DDE4F415C859E6C756C</string>
				<key>dateExpires</key>
				<string>27.03.26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4FA7X6639Y.com.daniebeler.pfpixelix.iosApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4FA7X6639Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Pixelix.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bca42517-de5f-4937-b07a-9f9e192d8711</string>
				<key>dateExpires</key>
				<string>27.03.26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.daniebeler.pfpixelix.iosApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4FA7X6639Y</string>
				<key>name</key>
				<string>Daniel Hiebeler</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
